:root {
  --primary-colour: lightgray;
  --checkbox-border-color: #646464;
  --checkbox-checked-color: #274c77;
  --checkbox-hover-color: #add5f6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  margin: 25px auto;
  padding: 10px;
  max-width: 950px;
}
button {
  padding: 10px 15px;
}

hr {
  margin-bottom: 10px;
}
h1 {
  font-size: 2.5rem;
}


header {
  width: 100vw;
  min-height: 60px;
  background-color: var(--primary-colour);
}
.date {
  margin-bottom: 10px;
}


/* To-Do Styles */
.to-do {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  margin: 10px 0px;
  background-color: var(--primary-colour);
  border-radius: 10px;
  border-left: 8px solid;
}
.high-priority {
  border-left: 8px solid red;
}
.mid-priority {
  border-left: 8px solid rgb(255, 196, 0);
}
.low-priority {
  border-left: 8px solid green;
}
.to-do div h2{
  margin-bottom: 10px;
}
.show-task-info {
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  padding: 0;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #2a75bc;
  transition: 80ms;
}
.to-do-buttons {
  display: flex;
  margin: auto 0 auto auto;
  align-items: center;
  gap: 20px;
}
input[type="checkbox"] {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 9px;
  border: 2px solid var(--checkbox-border-color);
  appearance: none;
  background-color: transparent;
  outline: none;
  border-radius: 3px;
  transition: outline 0.1s;
}
input[type="checkbox"]:checked {
  background-size: cover;
  border-color: var(--checkbox-checked-color);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23274c77" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
}
.delete-to-do {
  background-image: url('data:image/svg+xml,%3Csvg fill%3D%22%23000000%22 version%3D%221.1%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 485 485%22%3E%3Cg%3E%3Crect x%3D%2267.224%22 width%3D%22350.535%22 height%3D%2271.81%22/%3E%3Cpath d%3D%22M417.776%2C92.829H67.237V485h350.537V92.829H417.776z M165.402%2C431.447h-28.362V146.383h28.362V431.447z M256.689%2C431.447 h-28.363V146.383h28.363V431.447z M347.97%2C431.447h-28.361V146.383h28.361V431.447z%22/%3E%3C/g%3E%3C/svg%3E');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 13px;
  background-color: transparent;
  border: none;
}

.all-to-dos {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
#show-new-task-form {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 300ms;
  width: 100%;
}

/* New Task Dialog */
dialog {
  padding: 15px;
  width: 400px;
  margin: auto;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.588);
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.x-button {
  background: none;
  border: none;
  padding: 0;
  margin: 10px 15px;
  font-size: 1.2rem;
  transition: 200ms;
  font-weight: 900;
}


input, textarea, select{
  padding: 8px 12px;
}
textarea {
  resize: none;
}

/* Sidebar Styles */
.hamburger {
  display: block;
  font-size: 3rem;
  padding: 0px 15px;
  border: none;
  background: none;
  transition: 200ms;
  z-index: 1;
}



aside {
  position: absolute;
  background-color: var(--primary-colour);
  height: 100vh;
  width: 290px;
  top: 0;
  transform: translateX(-290px);
  z-index: 2;
  transition: 350ms;
}
#close-sidebar-button {
  position: absolute;
  right: 0;
  font-size: 2rem;
}
#sidebar-content-top, #all-projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#sidebar-content {
  position: absolute;
  right: 0;
  left: 0;
  top: min(40px, 5%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}
.to-do-group-button {
  text-align: left;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 300ms;
}


/* Projects Styles */
#projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#show-new-project-form {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  transition: 300ms;
}

#todo-section-title {
  margin: 10px 0px;
  font-size: 2rem;
}




/* JS Styles */
.show {
  transform: translateX(0);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.552);
}


@media (hover: hover){
  .show-task-info:hover {
    outline: 2.5px solid white;
  }
  input[type="checkbox"]:hover {
    background-color: var(--checkbox-hover-color);
    outline: 6px solid var(--checkbox-hover-color);
    transform: scale(1.05);
    cursor: pointer;
  }
  .x-button:hover {
    color: rgb(209, 0, 0);
  }
  .hamburger:hover {
    scale: 1.1;
  }
  .to-do-group-button:hover {
    background-color: gray;
  }
  button:hover {
    cursor: pointer;
  }
  #show-new-project-form:hover, #show-new-task-form:hover {
    background-color: rgb(14, 141, 19);
    color: white;
  }
}

@media screen and (min-width: 1600px) {
  body {
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 80px 1fr;
    min-height: 100vh;
    grid-template-areas: 
      "header header"
      "sidebar main";
  }
  .hamburger {
    display: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
  }
  aside {
    position: static;
    height: unset;
    width: unset;
    transform: translateX(0);
    grid-area: sidebar;
    box-shadow: none !important;
  }
  main {
    grid-area: main;
    width: 100%;
  }
  #close-sidebar-button {
    display: none;
  }
  #sidebar-content {
    top: 0;
  }
}
