:root {
  --primary-colour: lightgray;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  margin: 40px auto;
  padding: 10px;
  max-width: 950px;
}
button {
  padding: 10px 15px;
}
button:hover {
  cursor: pointer;
}
hr {
  margin-bottom: 10px;
}


header {
  width: 100vw;
  min-height: 60px;
  background-color: var(--primary-colour);
}

.to-do {
  display: flex;
  gap: 20px;
  padding: 10px 30px;
  margin: 10px 0px;
  background-color: var(--primary-colour);
  border-radius: 10px;
}

.all-to-dos {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
#show-new-task {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 300ms;
  width: 100%;
}

/* New Task Dialog */
dialog {
  padding: 15px;
  width: 400px;
  margin: auto;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.588);
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.x-button {
  background: none;
  border: none;
  padding: 0;
  margin: 10px 15px;
  font-size: 1.2rem;
  transition: 200ms;
  font-weight: 900;
}
.x-button:hover {
  color: rgb(209, 0, 0);
}

input, textarea, select{
  padding: 8px 12px;
}
textarea {
  resize: none;
}

/* Sidebar Styles */
.hamburger {
  display: block;
  font-size: 3rem;
  padding: 0px 15px;
  border: none;
  background: none;
  transition: 200ms;
  z-index: 1;
}

.hamburger:hover {
  scale: 1.1;
}

aside {
  position: absolute;
  background-color: var(--primary-colour);
  height: 100vh;
  width: 290px;
  top: 0;
  transform: translateX(-290px);
  z-index: 2;
  transition: 350ms;
}
#close-sidebar-button {
  position: absolute;
  right: 0;
  font-size: 2rem;
}
#sidebar-content-top, #all-projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#sidebar-content {
  position: absolute;
  right: 0;
  left: 0;
  top: min(40px, 5%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}
.to-do-group-button {
  text-align: left;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 300ms;
}
.to-do-group-button:hover {
  background-color: gray;
}

/* Projects Styles */
#projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#show-new-project {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  transition: 300ms;
}
#show-new-project:hover, #show-new-task:hover {
  background-color: rgb(14, 141, 19);
  color: white;
}


/* JS Styles */
.show {
  transform: translateX(0);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.552);
}


@media screen and (min-width: 1600px) {
  body {
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 80px 1fr;
    min-height: 100vh;
    grid-template-areas: 
      "header header"
      "sidebar main";
  }
  .hamburger {
    display: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
  }
  aside {
    position: static;
    height: unset;
    width: unset;
    transform: translateX(0);
    grid-area: sidebar;
    box-shadow: none !important;
  }
  main {
    grid-area: main;
    width: 100%;
  }
  #close-sidebar-button {
    display: none;
  }
  #sidebar-content {
    top: 0;
  }
}